<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div id="registerMessage" class="mt-3"></div>
        <h2 class="mt-5">Cadastro de Usuário</h2>
        <form id="registerForm">
            <div class="mb-3">
                <label for="username" class="form-label">Nome de usuário</label>
                <input type="text" class="form-control" id="username" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">E-mail</label>
                <input type="email" class="form-control" id="email" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Senha</label>
                <input type="password" class="form-control" id="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Cadastrar</button>
            <a class="p-3" href="http://127.0.0.1:8000/login">Já possui uma conta ?</a>
        </form>
        
    </div>

    <script>
        document.getElementById("registerForm").addEventListener("submit", function(e) {
            e.preventDefault();
            const username = document.getElementById("username").value;
            const email = document.getElementById("email").value;
            const password = document.getElementById("password").value;

            fetch("http://127.0.0.1:8000/register/user", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    username: username,
                    email: email,
                    password: password
                })
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById("registerMessage").innerHTML = `<div class="alert alert-success">Usuário cadastrado com sucesso!</div>`;
            })
            .catch(error => {
                document.getElementById("registerMessage").innerHTML = `<div class="alert alert-danger">Erro ao cadastrar usuário.</div>`;
            });
        });
    </script>
</body>
</html>
